<h1>notifications go here</h1>

do loop through all signups that hava a campaign_id that matches any campaign where the user_id: current_user
add a collumn to the signups table called active
create a button on each card that allows you to set that attribute to true when clicked.
If that signup is later deleted, set that attribute to false again.

<% @campaigns.each do |campaign| %>
    <% campaign.signups.each do |signup| %>
        <% if !signup.approved %>
            <p><%= campaign.name %></p>
            <p><%= signup.user.username %></p>
            <p><%= signup.created_at %></p>
            <%= link_to 'Approve', signup_path(signup), method: :patch, class: 'btn btn-success' %>
            <%= link_to 'Decline', signup_path(signup), method: :delete, class: 'btn btn-warning' %>
        <% end %>
    <% end %>
<% end %>