<div class="jumbotron">
  <%= form_with(model: user, local:true) do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :username, 'Username: ' %>
    <%= f.text_field :username %>
  </div>
  <div class="form-group">
    <%= f.label :email, 'Email: ' %>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.label :password, 'Password: ' %>
    <%= f.password_field :password %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, 'Confirm Password: ' %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="form-group">
    <%= f.label :zipcode, 'Zipcode: ' %>
    <%= f.number_field :zipcode %>
  </div>
  <div class="form-group">
    <%= f.label :age, 'Age: ' %>
    <%= f.number_field :age %>
  </div>
  <div class="form-group">
    <%= f.label :gender, 'Gender: ' %>
    <%= f.text_field :gender %>
  </div>
  <div class="form-group">
    <%= f.label :bio, 'About: ' %>
    <%= f.text_area :bio, cols: 60, rows: 9 %>
  </div>
  <div class="form-group">
    <%= f.label :image, 'Profile Picture: ' %><br>
    <p>(We resize our images so a square is recomended!)</p>
    <%= f.file_field :image %>
  </div>
  <div class="form-group checkboxes">
    <%= 'Favorite Editions: ' %> 
    <br>
    <% @editions.each do |edition| %>
      <%= edition.name %>: <%= check_box_tag 'editions[]', edition.id, (current_user ? current_user.editions.exists?(edition.id) : false) %> 
    <% end %>
  </div>
  <div class="form-group checkboxes">
    <%= f.label :role, 'Favorite Classes: ' %>
    <br>
    <% @roles.each do |role| %>
      <%= role.name %>: <%= check_box_tag 'roles[]', role.id, (current_user ? current_user.roles.exists?(role.id) : false) %>
    <% end %>
  </div>
  <div class="actions"><%= f.submit %></div>
  <% end %>
</div>