<% if @user.id == current_user[:id] %>
    <h1><%= @user.username %></h1>
    <h4>About</h4>
    <div class="row profilemod ">    
        <div class="aboutme col-sm-6">
            <ul>
                <li class="profilepic">
                <%= image_tag @user.image %>
                </li>
                <li>Age: <%= @user.age %></li>
                <li>Zipcode: <%= @user.zipcode %></li>
                <li>Gender: <%= @user.gender %></li>
                <li>Bio: <%= @user.bio %></li>
                <li>Favorite Editions:&nbsp; 
                    <% @user.editions.each do |edition| %>
                        <% if edition != @user.editions.last %>
                            <%= edition.name %>,&nbsp;
                        <% else %>
                            <%= edition.name %>
                        <% end %>
                    <% end %>
                </li>
                <li>Favorite Classes:&nbsp; 
                    <% @user.roles.each do |role| %>
                        <% if role != @user.roles.last %>
                            <%= role.name %>,&nbsp;
                        <% else %>
                            <%= role.name %>
                        <% end %>
                    <% end %>
                </li>
            </ul>
        </div>
        <div class="profilemod mycampaigns col-span-6">
            <h4>My Campaigns</h4>
            <% @user.campaigns.each do |campaign| %>
                <div>
                    <h5><%= link_to campaign.name, campaign %></h5>
                    <p>Module - Eddition</p>
                </div>
            <% end %>
            <h4>My Joined Campaigns</h4>
            <% @signups.each do |signup| %>
                <div>
                    <%= link_to @campaigns.find(signup.campaign_id).name, campaign_path(signup.campaign_id) %>
                </div>
            <% end %>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-6">
                <button><%= link_to 'Edit', edit_user_path %></button>
            </div>
            <div class="col-sm-6">
                <button><%= link_to 'New', new_campaign_path %></button>
            </div>
        </div>
<% else %>
    <h1><%= @user.username %></h1>
    <div class="row profilemod ">    
        <div class="aboutme col-sm-6">
            <ul>
                <li class="profilepic">
                <% if !@user.image %>
                    <%= image_tag @user.image %>
                <% else %>
                    <%= image_tag 'wiz.png' %>
                <% end %>
                </li>
                <li>Age: <%= @user.age %></li>
                <li>Zipcode: <%= @user.zipcode %></li>
                <li>Gender: <%= @user.gender %></li>
                <li>Bio: <%= @user.bio %></li>
                <li>Favorite Editions:&nbsp; 
                    <% @user.editions.each do |edition| %>
                        <% if edition != @user.editions.last %>
                            <%= edition.name %>,&nbsp;
                        <% else %>
                            <%= edition.name %>
                        <% end %>
                    <% end %>
                </li>
                <li>Favorite Classes:&nbsp; 
                    <% @user.roles.each do |role| %>
                        <% if role != @user.roles.last %>
                            <%= role.name %>,&nbsp;
                        <% else %>
                            <%= role.name %>
                        <% end %>
                    <% end %>
                </li>
            </ul>
        </div>
        <div class="profilemod mycampaigns col-span-6">
            <h4>My Campaigns</h4>
            <% @user.campaigns.each do |campaign| %>
                <div>
                    <h5><%= link_to campaign.name, campaign %></h5>
                    <p>Module - Eddition</p>
                </div>
            <% end %>
        </div>
    </div>
<% end %>