<% if @user.id == current_user[:id] %>
    <h1><%= @user.username %></h1>
    <h4>About</h4>
    <div class="aboutme">
        <ul>
            <li>Age: <%= @user.age %></li>
            <li>Zipcode: <%= @user.zipcode %></li>
            <li>Gender: <%= @user.gender %></li>
            <li>Bio: <%= @user.bio %></li>
            <li>Edditions: </li>
            <li>Role Preferences: </li>
        </ul>
        <button><%= link_to 'Edit', edit_user_path %></button>
    </div>
    <div class="mycampaigns">
        <h4>My Campaigns</h4>
        <button><%= link_to 'New', new_campaign_path %></button>
    </div>
<% else %>
    <h1><%= @user.username %></h1>
    <div class="aboutme">
        <ul>
            <li>Age: <%= @user.age %></li>
            <li>Zipcode: <%= @user.zipcode %></li>
            <li>Gender: <%= @user.gender %></li>
            <li>Bio: <%= @user.bio %></li>
            <li>Edditions: </li>
            <li>Role Preferences: </li>
        </ul>
    </div>
    <div class="mycampaigns">
        <h4>Campaigns</h4>
    </div>
<% end %>