<div class="row justify-content-center">
  <div class="jumbotron col-sm-5">
    <%= form_with(model: campaign, local:true) do |f| %>
      <% if @campaign.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @campaign.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <h4><%= f.label :name, 'Campaign Title: ' %></h4>
        <small class="form-text">Give your campaign a descriptive and fun title to help it stand out!</small>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <label class="form-check-label">
          <h4><%= f.label :online, 'Online: ' %> <%= f.check_box :online, class: "orm-check-input" %></h4>
        </label>
      </div>
      <div class="form-group">
        <h4><%= f.label :size, 'Party Size: ' %></h4>
        <%= f.number_field :size, class: "form-control" %>
      </div>
      <div class="form-group">
        <h4><%= f.label :size, 'Description: ' %></h4>
        <small class="form-text text-light">Tell players a little about the campaign you're running. Are you using a pre-made module or writing your own? What days are you playing? Is this a weekly game or a oneshot? A good description will help make your campaign appealing to new players!</small>
        <br>
        <%= f.text_area :description, rows: 3, class: "form-control" %>
      </div>
      <div class="form-group">
        <h4><%= f.label :size, 'Edition: ' %></h4>
        <%= select(:campaign, "edition_id", Edition.all.collect {|e| [e.name, e.id]}, {include_blank: true}, class: "form-control") %>
      </div>
      <br>
      <div><%= f.submit 'Submit', class: "btn btn-danger d-flex justify-content-center" %></div>
    <% end %>
  </div>
</div>