<h1>Browse Campaigns</h1>
<h4>Search By: </h4>
<form class="searchbar form-inline">
    <%= form_tag( campaigns_path, method: :get) do %>
        <div class="searchgroup">
            Keyword: <%= text_field_tag :search, params[:search], placeholder: "Try: orcs or vampires!" %>
        </div>
        <div class="searchgroup">
            Edition: <%= select(nil, :edition, Edition.all.collect {|e| [e.name, e.name]}, {include_blank: true}) %>
        </div>
        <div class="searchgroup">
            Online: <%= select(nil, :online, ["true", "false"], {include_blank: true}) %>
        </div>
        <%= submit_tag "Search!" %>
    <% end %>
</form>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Online</th>
      <th scope="col">Full</th>
      <th scope="col">Edition</th>
      <th scope="col">Size</th>
      <th scope="col">Zipcode</th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
        <% if campaign.full == false %>
            <tr>
            <td><%= link_to campaign.name, campaign %></td>
            <td>
                <% if campaign.description.length > 40 %>
                    <%= campaign.description[0,40] %> ...
                <% else %>
                 <%= campaign.description %>
                <% end %>
            </td>
            <td><%= campaign.online %></td>
            <td><%= campaign.full %></td>
            <td><%= campaign.edition.name %></td>
            <td><%= campaign.size %></td>
            <td><%= campaign.user.zipcode %></td>
            </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
  <p>kladfsgja</p>