<h1>Campaign Search</h1>
<div class="searchbar">
    <%= form_tag( campaigns_path, method: :get) do %>
        <h4>Search: </h4>
        <div class="searchgroup">
            <h6>Keyword: </h6> 
            <%= text_field_tag :search, params[:search], placeholder: "Search..." %>
        </div>
        <div class="searchgroup">
            <h6>Edition: </h6> 
            <%= select(nil, :edition, Edition.all.collect {|e| [e.name, e.name]}, {include_blank: true}) %>
        </div>
        <div class="searchgroup">
            <h6>Online: </h6> 
            <%= select(nil, :online, ["true", "false"], {include_blank: true}) %>
        </div>
        <%= submit_tag "Search!" %>
    <% end %>
</div>
<table>
  <thead>
    <tr>
      <th>&nbsp;&nbsp;&nbsp;&nbsp;Campaign Title&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Description&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Online&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Edition&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Size</th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to campaign.name, campaign %></td>
        <td><%= campaign.description %></td>
        <td><%= campaign.online %></td>
        <td><%= campaign.edition.name %></td>
        <td><%= campaign.size %></td>
      </tr>
    <% end %>
  </tbody>
</table>