<h1>Browse Campaigns</h1>
<br>
<h5>Search By: </h5>
<form class="searchbar">
    <div class="form-row align-items-center">
        <%= form_tag( campaigns_path, method: :get) do %>
            <div class="searchgroup col-sm-3 my-1">
                Keyword: <%= text_field_tag :search, params[:search], placeholder: "try orcs or vampires..." %>
            </div>
            <div class="searchgroup col-sm-3 my-1">
                Edition: <%= select(nil, :edition, Edition.all.collect {|e| [e.name, e.name]}, {include_blank: true}) %>
            </div>
            <div class="searchgroup col-sm-3 my-1">
                Online: <%= select(nil, :online, ["true", "false"], {include_blank: true}) %>
            </div>
            <div class="searchgroup col-auto my-1">
                <%= submit_tag "Search!" %>
            </div>
        <% end %>
    </div>
</form>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Online</th>
      <th scope="col">Edition</th>
      <th scope="col">Size</th>
      <th scope="col">Zipcode</th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
        <% if !campaign.full? %>
            <tr>
            <td><%= link_to campaign.name, campaign %></td>
            <td>
                <% if campaign.description.length > 40 %>
                    <%= campaign.description[0,40] %>...
                <% else %>
                 <%= campaign.description %>
                <% end %>
            </td>
            <td><%= campaign.online %></td>
            <td><%= campaign.edition.name %></td>
            <td><%= campaign.size %></td>
            <td><%= campaign.user.zipcode %></td>
            </tr>
        <% end %>
    <% end %>
  </tbody>
</table>