<div class="jumbotron">
    <% if @campaign.user_id == current_user[:id] %>
        <div class="card col-sm-12">
            <div class="card-header">
                <h1><%= @campaign.name %></h1>
            </div>
            <ul class="list-group list-group-flush">
                
                <li class="list-group-item">
                    <h5>DM:</h5>
                    <p><%= @campaign.user.username %></p>
                </li>
                <li class="list-group-item"><h5>Campaign Description:</h5>
                    <p><%= @campaign.description %></p>
                </li>
                <li class="list-group-item"> 
                    <% if @campaign.online == false %>
                        <h5>Location:</h5> 
                        <p>In Person</p>
                    <% else %>
                        <h5>Location:</h5> 
                        <p>Online</p>
                    <% end %>
                </li>
                <li class="list-group-item">
                    <h5>Party Size:</h5> 
                    <p><%= @campaign.size %>
                </li>
                <li class="list-group-item">
                    <h5>Players:</h5> 
                    <% @signups.each do |signup| %>
                        <% if signup.approved %>
                            <p><%= link_to @users.find(signup.user_id).username, user_path(signup.user_id) %></p>
                        <% end %>
                    <% end %>
                </li>
                <li class="list-group-item">
                    <h5>Status:</h5>
                    <% if @campaign.full == false %>
                        <p>Accepting new players!</p>
                    <% else %>
                        <p>Not currently accepting new players.</p>
                    <% end %>
                </li>
            </ul>    
        </div>
        <br>
        <div class="d-flex justify-content-around">
            <%= link_to 'Edit', edit_campaign_path, class: 'btn btn-success' %>
            <%= link_to 'Delete', campaign_path(@campaign), method: :delete, data: {confirm: "Are you sure? This action can't be undone!"}, class: 'btn btn-success' %>
        </div>
    <% else %>
        <div class="card col-sm-12">
            <div class="card-header">
                <h1><%= @campaign.name %></h1>
            </div>
            <ul class="list-group list-group-flush">
                
                <li class="list-group-item">DM: <%= @campaign.user.username %></li>
                <li class="list-group-item">Campaign Description:
                    <p><%= @campaign.description %></p>
                </li>
                <li class="list-group-item"> 
                    <% if @campaign.online == false %>
                        Location: In Person
                    <% else %>
                        Location: Online
                    <% end %>
                </li>
                <li class="list-group-item">Party Size: <%= @campaign.size %></li>
                <li class="list-group-item">Players: 
                    <% @signups.each do |signup| %>
                        <% if signup.approved %>
                            <p><%= link_to @users.find(signup.user_id).username, user_path(signup.user_id) %></p>
                        <% end %>
                    <% end %>
                </li>
        <h3>Status: </h3>
        <% if @campaign.full == false %>
            <p>Accepting new players! Send a join request if you're interested!</p>
        <% else %>
            <p>Not currently accepting new players.</p>
        <% end %>
        </ul>
        </div>
        <br>
        <div class="d-flex justify-content-around">
            <% if @signup %>
                <%= link_to 'Leave Campaign', signup_path(@campaign), method: :delete, class: 'btn btn-success' %>
            <% else %>
                <%= link_to 'Join', campaign_signups_path(@campaign), method: :post, class: 'btn btn-success' %>
            <% end %>
        </div>
    <% end %>
</div>